.uppercase
  text-transform uppercase

.full-width{
  width 100%
}

.full-height{
  height 100%
}

.v-a-top{
  vertical-align top
}

.hidden
  display: none !important
  visibility: hidden

.clearfix
  zoom: 1

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.col-50{
  width 50%
}

.col-33{
  width calc(100% / 3)
}

.col-25{
  width 25%
}

.col-20{
  width 20%
}

.col-16{
  width calc(100% / 6)
}

.col-14{
  width calc(100% / 7)
}

.w480{
  width 480px;
  width 480dp;
}
.w600{
  width 600px;
  width 600dp;
}
.w840{
  width 840px;
  width 840dp;
}
.w960{
  width 960px;
  width 960dp;
}
.w1280{
  width 1280px;
  width 1280dp;
}
.w1440{
  width 1440px;
  width 1440dp;
}
.w1600{
  width 1600px;
  width 1600dp;
}
.w1920{
  width 1920px;
  width 1920dp;
}